.container {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
}

.container p {
    /* If the text has multiple lines, add the following: */
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}


/*
p here is any element like a p inside a container
*/