#bodyId {
    background-color: darkblue;
    position: relative;
}

#mainBody {
    width: 100%;
    height: 600px;
    line-height: 600px;
    color: snow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#system {
    /*position: absolute;
    left: 4px;
    line-height: 600px;*/
    display: inline;
}

label {
    display: inline;
    font-size: 14px;
}

#outerId {
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    /* position: absolute;
    top: 25%;
    right: 30%;*/
    width: 40%;
    height: 60%;
    background-color: black;
    line-height: 100%;
}

#dateId {
    display: inline;
    color: snow;
}

#innerId {
    margin-top: 0px;
    height: 50%;
    color: snow;
    font-family: Amiri, serif;
    width: 80%;
    line-height: 150px;
    background-color: tomato;
}

p {
    color: tomato;
}

p input {
    display: inline-block;
    width: 20%;
}

.sign {
    font-family: cursive;
    font-size: 90%;
    font-weight: bold;
    color: darkred;
    text-shadow: 1px 1px 2px rgb(139, 129, 129);
}
